/*
* RegistrationHacks Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);


/* Montserrat Google Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


@import url(https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300,800&display=swap);
/*
 * green: rgb(10, 122, 9)
 * orange: rgb(229, 106, 29)
 */
html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Open Sans';
  font-weight: 600;
}

body {
  background-color: #333;
  color: #333;
  position: relative;
}

section {
  overflow-x:hidden;
}

/*
 * Trust Badge
 */

#mlh-trust-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: absolute;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

/*
 * Hero Section
 */

.hero {
  background: #2fa4ff;
  background-size: cover;
  background-position: center;
  /*height: 100vh;*/
  color: #fff;
  position: relative;
}

.heroWrapper {
  position: relative;
}

.heroWrapper h1 {
  float: right;
  position: relative;
  z-index: 0;
  height: 0;
  margin-top: -100px;
}

#backgroundImg {
  float: right;
  z-index: 1;
  height: 100vh;
  position: relative;
}

#boatWavesImg {
  max-width: 100%;
  height: auto;
  width: auto;
}

#boatWavesDiv {
  z-index: 2;
  float: right;
  max-width: 1700px;
  position: relative;
  right: 0;
  margin-left: 20px;
  margin-top: calc(-35vw - 100px);

}

#titleImg {
  max-width: 100%;
  height: auto;
  width: auto;
  
  
  padding: 0 60px 0 10px;
}

#titleDiv {
  float: right;
  position: relative;
  margin-top: calc(-10vw - 650px);
  max-width: 1000px;
  height: 0;
  z-index: 6;
}

#info {
  padding-left: 12%;
  padding-right: 60px;
}

.hero svg {
  height: 100vh;
  overflow: clip;
}

#layer3 {
  fill: red;
}

.hero hr {
  border-top: 1px solid #fff;
  margin: 0;
  position: relative;
  display: none; /* maybe temp */
}

.hero .wrapper h1{
  line-height: 2;
  font-size: calc(30px + 6vw);
  font-family: 'Spline Sans Mono', monospace;
  font-weight: 800;
  padding-top: 4vh;
}

.hero .wrapper h2 {
  font-size: calc(20px + 0.390625vw);
  font-weight: 200;
}

.hero .wrapper h3 {
  font-size: calc(15px + 0.390625vw);
  font-weight: 200;
  padding-bottom: 35px;
}

#downDiv {
  text-align: center;
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#downDiv a {
  padding: 10px 0;
}

#downDiv a img {
  margin: 0 auto;
  width: calc(6vh - 6px);
}

.hero .buttons {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
}

.hero h2 {
  font-family: Montserrat;
  font-size: calc(15px + 1vw);
  font-weight: 700;
}

.hero h3 {
  font-size: calc(10px + .8vw);
}

.hero .buttons a {
  background: #3560b8;
  border-radius: 5px;
  color: #fff;
  display: inline;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 70px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease;
  margin-top: 10px;
}

.hero .buttons a:hover/*,
.hero .buttons a:focus*/ {
  background-color: #fff;
  color: #27343a;
  transition: all 0.15s ease;
}

.hero .buttons a:not(:last-child) {
  margin-right: 10px;
}

p {
  max-width: 60ch;
}

/*
 * About Section
 */

.about {

  background: linear-gradient(180deg, #2fa4ff 0%, #3560b8 80%);
  padding: 120px 0;
  font-size: calc(20px + 0.390625vw);
  /*position: relative;*/
  /*height: 55vh !important;*/
}

.about h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.about p {
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6em;
  letter-spacing: -.3px;
}

#tree {
  height: 25vh;
}

#helmet {
  height: 20vh;
}

.about p span {
  font-weight: 700;
  text-transform: uppercase;
}

/*
 * Sponsors
 */

.sponsors {
  background: white;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
  color: #000;
}

.sponsors h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
  font-size: 60px;
}

.sponsors .item {
  padding: 20px;
}

.sponsors .item img {
  max-width: 220px;
  background-color: #fff;
  padding: 10px;
}

.sponsors .gold img {
  max-width: 360px;
}

.sponsors .silver img {
  max-width: 300px;
}

.sponsors .item p {
  font-size: 20px;
}

/*
 * FAQ Section
 */

.faq {
  background-color: #2fa4ff;
  padding: 100px 0;
  position: relative;
  color: white;
}

a:link {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: rgb(153, 153, 153);
  text-decoration: underline;
}

.track p {
  font-size: calc(20px + 0.390625vw);
  color: white;
  padding-bottom: 20px;
}

.tracks div div h3 {
  color: white;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: calc(25px + 0.5vw);
  padding-top: 20px;
}

.tracks div div {
  background: #27343a;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.tracks h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
  font-size: 60px;
  color: white;
  text-align: center;
  padding-bottom: 40px;
}

.tracks div {
  justify-content: center;
  padding: 0 80px;
}

.tracks {
  background: linear-gradient(180deg, #3560b8,  #5b75c2 80%, #7a8acd, #96a0d7, #b0b7e1, #cbceeb, #e5e6f5, #ffffff);
  padding-bottom: 30vh;
  padding-top: 10vh;
}


.faq h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  margin: 30px 0;
}

.faq .question h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
}

.faq .question p {
  font-size: 18px;
  line-height: 1.5em;
}

.faq img {
  margin-bottom: -2px;
  margin-top: 40px;
  width: 300px;
}

/*
 * Footer Section
 */

.footer {
  color: #000;
  padding: 30px 0;
  background-color: white;
}

.footer h1 {
  font-family: 'Montserrat';
  margin: 30px 0;
}

.footer img {
  max-width: 250px;
  margin-bottom: 15px;
}

.footer h3 {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
}

.footer h3 a {
  color: #000;
}

.social {
  font-size: 20pt;
  margin-bottom: 25px;
}

.social a {
  color: inherit;
  padding: 0 5px;
}

.footer-goose img {
  position: absolute;
  width: 500px;
  bottom: 100px;
  right: 10px;
}

@media(max-width: 1130px) {
  .footer-goose {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .footer-goose img {
    position: static;
    width: 100%;
  }

  #trackRotate {
    flex-direction: column;
  }
}

@media(max-width: 768px) {
  .hero .buttons a {
    border-width: 8px;
    display: block;
    width: 90%;
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }

  

  #tree {
    display: none;
  }
  
  #helmet {
    display: none;
  }

  .hero hr {
    border-top-width: 8px;
    top: -8px;
  }

  .hero .wrapper h1 {
    padding-top: 10vh
  }

  .hero .buttons {
    
  }
}

.flexRow {
  display: flex;
  flex-direction: row;
  gap: 90px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 60px;
}