---
layout: default
---

{% include hero.html %}

<section class="about">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
      {{ site.event.about.description | markdownify }}
    </div>
  </div>
</section>


<section class="info">
  <div class="container">
    <div class="items row">
      {% for section in site.event.info.sections %}
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img src="{{ section.image }}" />
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="info">
  <div class="container">
     <div class="col-xs-30 col-sm-4 text-center">
        <div class="items row">
          <div class="item event">
            <div>
            <img src=>
            <h1>PROJECT PRESENTATION</h1>
            <p>To prepare for a project presentation, it's important to rehearse and refine your delivery, anticipate and prepare for potential questions or challenges, and tailor your message to the specific needs and interests of your audience.</p>
            <br>
            <a href="https://drive.google.com/file/d/1oEFcBDvIg7qZRBSiTEgElnyDAbXesy64/view?usp=share_link" target="blank"><button class="my-button">Click For Rules and Regulations</button></a>
          </div>
          <div>
            <img src="images/Code Wars.png" alt="code wars">
          </div>
        </div>
    </div>
  </div>
</section>

<section class="info">
  <div class="container">
    <div class="items row">
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="item">
            <img></img>
            <h1>PAPER PRESENTATION</h1>
            <p>They may forget what you said, but they will never forget how you made them feel.</p>
            <br>
            <a href="https://drive.google.com/file/d/107MFrcg7wsMx1rY8a40nd46buQJyhs58/view?usp=share_link" target="bla
            "><button class="my-button">Click For Rules and Regulations</button></a>
          </div>
        </div>
        </div>
      </div>
      </section>
      <section class="info">
        <div class="container">
          <div class="items row">
           
              <div class="col-xs-12 col-sm-4 text-center">
                <div class="item">
                  <img  />
                  <div>
                  <h1>CODE WARS</h1>
                  <p>"its really a war , fight with sharper weapon"</p>
                  <br>
                  <a href="https://drive.google.com/file/d/1zDlY6_84-fILNKxOdQG3p-Hy2fEeyMOZ/view?usp=share_link" target="blan
                  "><button class="my-button">Click For Rules and Regulations</button></a>
                </div>
              </div>
            
          </div>
        </div>
      </section>
      <section class="info">
        <div class="container">
          <div class="items row">
            
              <div class="col-xs-12 col-sm-4 text-center">
                <div class="item">
                 
                  <h1>WISEQUACKS</h1>
                  <p>"fasten your seatbelts, and get ready to take off because there is no time left for the questions and answers"</p>
                  <br>
                  <a href="https://drive.google.com/file/d/102L-5xIGcEjAOKObJnM5CYMtQQrC1xIc/view?usp=share_link" target="_blank"><button class="my-button">Click For Rules and Regulations</button></a>
                  
                </div>
              </div>
           
          </div>
        </div>
      </section>
               
<section class="faq">
  <div class="container">
    <h1 class="text-center">FAQ</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        {% for item in site.event.faq %}
        <div class="question col-xs-12 col-sm-12">
          <h2>{{ item.question }}</h2>
          <hr>
          {{ item.answer | markdownify }}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>