<section class="hero">
  <div class="wrapper text-center">
    <div>
    <img src="images/ngp-hover-logo.png" alt="NgpLogo" style="background-color: aliceblue;">
    </div>
    <h1 rel="title">{{ site.event.name }}</h1>
    <h2 rel="description">{{ site.event.description }}</h2>
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>
    <hr>
    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% elsif link.my_mlh %}
          <a class="Register Here" href="https://docs.google.com/forms/d/e/1FAIpQLSczPY6dCAUdvDTifDieIFfnUqPP31nNSd2ZCAfk8m3VU7GLDg/viewform">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
      
    </div>
  </div>
</section>

