<section class="hero">
  <div class="wrapper text-center">
    <h3 rel="location">{{ site.event.date }} &mdash; {{ site.event.location }}</h3>

    <div class="buttons">
      {% for link in site.event.hero.links %}
      <a
        class="{{ link.class }}"
        href="{{ link.href }}"
        data-mode="{{ link.data }}"
        target="{{ link.target }}"
        data-content="{{ link.content }}"
        data-toggle="{{ link.toggle }}"
        data-placement="{{ link.placement }}"
        data-trigger="{{ link.trigger }}">
        {{ link.text }}
      </a>
      {% endfor %}
      <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    </div>
  </div>
</section>

