{% if site.event.trust_badge %}
<a id="mlh-trust-badge"
   href="https://mlh.io/seasons/{{ site.event.trust_badge.region }}-{{ site.event.trust_badge.year }}/events?utm_source={{ site.event.trust_badge.region }}-{{ site.event.trust_badge.year }}&utm_medium=TrustBadge&utm_campaign={{ site.event.trust_badge.region }}-{{ site.event.trust_badge.year }}&utm_content={{ site.event.trust_badge.color }}"
   target="_blank">
    <img src="https://www.drngpit.ac.in/assets/images/logo/ngp-itech-logo.png"
         alt="NGPiTECH logo"
         style="width:100%">
</a>
{% endif %}
