{% if site.event.trust_badge %}
<a id="mlh-trust-badge"
   href="https://mlh.io/seasons/{{ site.event.trust_badge.region }}-{{ site.event.trust_badge.year }}/events?utm_source={{ site.event.trust_badge.region }}-{{ site.event.trust_badge.year }}&utm_medium=TrustBadge&utm_campaign={{ site.event.trust_badge.region }}-{{ site.event.trust_badge.year }}&utm_content={{ site.event.trust_badge.color }}"
   target="_blank">
    <img src="https://s3.amazonaws.com/logged-assets/trust-badge/{{ site.event.trust_badge.year }}/{{ site.event.trust_badge.color }}.svg"
         alt="Major League Hacking {{ site.event.trust_badge.year }} Hackathon Season"
         style="width:100%">
</a>
{% endif %}
